<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.email.support.mapper.MailSendBMapper">
    <insert id="insert">
        INSERT INTO edm_record_b(
          send_id,
          send_user_id,
          send_to,
          send_content,
          send_priority,
          remark,
          update_by
        )
        VALUES(
        #{sendId, jdbcType=VARCHAR},
        #{sendUserId, jdbcType=VARCHAR},
        #{sendTo, jdbcType=VARCHAR},
        #{sendContent, jdbcType=VARCHAR},
        #{sendPriority, jdbcType=INTEGER},
        #{remark, jdbcType=VARCHAR},
        #{updateBy, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateSelective">
        UPDATE edm_record_b
        <set>
            <if test="sendUserId != null">
                send_user_id = #{sendUserId},
            </if>
            <if test="sendTo != null">
                send_to = #{sendTo},
            </if>
            <if test="sendContent != null">
                send_content = #{sendContent},
            </if>
            <if test="sendPriority != null">
                send_priority = #{sendPriority},
            </if>
            <if test="sendStatus != null">
                send_status = #{sendStatus},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
        </set>
        WHERE send_id = #{sendId}
    </update>
</mapper>